#recently-viewed-section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.product-container {
    display: block;
    list-style-type: none;
}

.product-card {
    margin: 5px;
    list-style-type: none !important;
    width: 240px;
    height: 258px;
}


.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
}

.product-price {
    color: red;
    font-weight: bold;
}

.product-card img {
    width: 240px;
    height: 200px;
}

